{% extends 'kinokino/bookmarks.html' %}

{% block title %}Все фильмы{% endblock %}
{% block bookmarks_content %}
    <div class="row">
        <div class="col">
            <ol>
                {% for movie_info in movie_data %}
                    <li>
                        <div class="row">
                            <div class="row">
                                <div class="col">
                                    <a href="{% url 'kinokino:all_seasons' movie_info.movie.kinopoisk_id %}">{{ movie_info.movie.name }} {{ movie_info.movie.kinopoisk_id }}</a>
                                </div>

                                <div class="col">
                                    {% if user.is_authenticated %}
                                        <form action="{% url 'kinokino:favorite_movie' %}" method="post">
                                        {% csrf_token %}
                                            <input name="movie_id" value="{{ movie_info.movie.kinopoisk_id }}" hidden>
                                            {% if movie_info.movie.kinopoisk_id not in favorite_movie_list %}
                                                <button class="btn btn-new" type="submit" value="add" name="fav">
                                                    Добавить в избранное
                                                </button>
                                            {% else %}
                                                <button class="btn btn-new" type="submit" value="rem" name="fav">
                                                    Удалить из избранного
                                                </button>
                                            {% endif %}
                                        </form>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ol>
        </div>

        <div class="col">
        {% block season %}{% endblock %}
        </div>

        <div class="col">
            {% block episode %}{% endblock %}
        </div>
    </div>

{% endblock %}
