{% extends 'kinokino/all_movies.html' %}

{% block season %}

    {% if not movie.release_year_start %}
        <div class="row">
            <div class="col">
                <div class="row">
                    {{ movie.name }}
                </div>
            </div>

            <div class="col">
                ({{ movie.year }})
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col">
                <div class="row">
                    {{ movie.name }}
                </div>

                <div class="row">
                    <form method="post">
                    {% csrf_token %}
                        <select name="status">
                            {% for status in statuses %}
                                <option>{{ status|first }}</option>
                            {% endfor %}
                        </select>
                    </form>
                </div>
            </div>
            <div class="col">
                ({{ movie.release_year_start }} - {{ movie.release_year_end }})
            </div>
        </div>

        <div class="row">
            Всего серий: {{ movie.episodes_count }}
        </div>

        <div class="row">
            Просмотрено: {{ movie.episodes_complete }}/{{ movie.episodes_count }}
        </div>

        <div class="row">
            Сезонов: {{ movie.seasons_count }}
        </div>
    {% endif %}

    <ul>
        {% for season in season_info %}
            <li>
                <a href="{% url 'kinokino:all_episodes' season.movie_id.kinopoisk_id season.number %}">{{ season.number }} ({{ season.episodes_count }})</a>
            </li>
        {% endfor %}
    </ul>

    <div class="row">
        <a class="row" href="{% url 'kinokino:all_movies' %}">Закрыть</a>
    </div>
{% endblock %}