{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'kinokino/css/bootstrap.min.css' %}">
    {% if request.session.theme == 'LIGHT' %}
        <link rel="stylesheet" type="text/css" href="{% static 'kinokino/css/light_theme.css' %}">
    {% else %}
        <link rel="stylesheet" type="text/css" href="{% static 'kinokino/css/dark_theme.css' %}">
    {% endif %}

    <meta charset="UTF-8">
    <title>{% block title %}Title{% endblock %}</title>
</head>
<body>

    <div class="wrapper">

        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">

            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">

                <a href="/" class="nav-link px-2">Главная</a>

                <a href="{% url 'kinokino:all_movies' %}" class="nav-link px-2">Фильмы и сериалы</a>

                <a href="{% url 'kinokino:favorite' %}" class="nav-link px-2">Избранное</a>

                <li>
                    <form action="{% url 'kinokino:switch_theme' %}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-outline" type="submit">Смена темы</button>
                    </form>
                </li>

                <li>
                    <form action="{% url 'kinokino:searching' %}" class="d-flex px-2" role="search" method="post">
                        {% csrf_token %}
                        <input id="Search" class="form-control form-control text-bg me-2" type="search" placeholder="Название" aria-label="Search" value="{{ name }}" name="search_text" required>
                        <button class="btn btn-primary" type="submit">Поиск</button>
                    </form>
                </li>

            </ul>

            {% if user.is_authenticated %}
                <div class="col-md-3 text-end">
                    <strong>{{ user.username }}</strong>
                    <a href="{% url 'kinokino:logout' %}">
                        <button type="button" class="btn btn-danger ms-2 me-2">Выйти</button>
                    </a>
                </div>

            {% else %}
                <div class="col-md-3 text-end">
                    <a href="{% url 'kinokino:login' %}">
                        <button type="button" class="btn btn-outline me-2">Войти</button>
                    </a>
                    <a href="{% url 'kinokino:registration' %}">
                        <button type="button" class="btn btn-warning me-2">Регистрация</button>
                    </a>
                </div>
            {% endif %}

        </header>

        <div class="main">
            <div class="container-fluid">
                {% block content%}

                {% endblock %}
            </div>
        </div>

        <footer class="d-flex flex-wrap justify-content-between align-items-center py-4 py-md-5 mt-5 border-top">
            <div class="col text-center">типа футер</div>
        </footer>

    </div>
</body>
</html>