{% extends 'kinokino/base.html' %}

{% block title %}{% endblock %}

{% block content %}

    <form method="post">
    {% csrf_token %}
        <div class="mb-3 row">
            <label for="InputName" class="col-sm-1 col-form-label">Название</label>
            <div class="col-sm-5">
                <input type="text" class="form-control form-control text-bg" id="InputName" placeholder="Название" name="name" required>
            </div>
        </div>
        <input class="btn btn-success" type="submit" value="Создать">
    </form>

{% endblock %}
