{% extends 'kinokino/base.html' %}

{% block content %}
    {% if not movie.release_year_start %}
        <div class="row">
            <div class="col">
                <div class="row">
                    {{ movie.name }}
                </div>
            </div>

            <div class="col">
                ({{ movie.year }})
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col">
                <div class="row">
                    {{ movie.name }}
                </div>

                <div class="row">
                    {% if movie_status %}
                    <form action="{% url 'kinokino:add_status' %}" method="post">
                    {% csrf_token %}
                        <input name="movie_id" value="{{ movie.id }}" hidden>
                        <select name="status">
                            {% for status in statuses %}
                                <option {% if status|first == movie_status.status %}
                                          selected
                                        {% endif %}
                                        value="{{ status|first }}" name="'status">
                                    {{ status|first }}
                                </option>
                            {% endfor %}
                        </select>
                        <button class="btn btn-new" type="submit">Сохранить</button>
                    </form>

                    <form action="{% url 'kinokino:delete_status' %}" method="post">
                    {% csrf_token %}
                        <input name="movie_id" value="{{ movie.id }}" hidden>
                        <button type="submit" class="btn btn-danger">Удалить</button>
                    </form>
                    {% else %}
                        <form action="{% url 'kinokino:add_status' %}" method="post">
                        {% csrf_token %}
                            <input name="status" value="Запланировано" hidden>
                            <input name="movie_id" value="{{ movie.id }}" hidden>
                            <button class="btn btn-new" type="submit">Добавить в список</button>
                        </form>
                    {% endif %}
                </div>
            </div>
            <div class="col">
                ({{ movie.release_year_start }} - {{ movie.release_year_end }})
            </div>
        </div>

        <div class="row">
            Всего серий: {{ movie.episodes_count }}
        </div>

        <div class="row">
            Сезонов: {{ movie.seasons_count }}
        </div>
    {% endif %}

    <ul>
        {% for season in season_info %}
            <li>
                <a href="{% url 'kinokino:detail_season' season.movie_id.kinopoisk_id season.number %}">{{ season.number }} ({{ season.episodes_count }})</a>
            </li>
        {% endfor %}
    </ul>

    <div class="row">
        <a class="row" href="{% url 'kinokino:bookmarks_all' %}">Закрыть</a>
    </div>
{% endblock %}