{% extends "kinokino/base.html" %}

{% block content %}
    <div class="col text-center justify-content-center">
    <div class="row text-center">
        <h2>Регистрация</h2>
    </div>
        <form action="{% url 'kinokino:registration' %}" method="post">
        {% csrf_token %}
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            <div class="mb-3 row justify-content-center">
                <label for="InputLogin" class="col-sm-1 col-form-label">Логин</label>
                <div class="col-sm-5">
                  <input type="text" class="form-control form-control text-bg" id="InputLogin" placeholder="Логин" name="login" required>
                </div>
            </div>

            <div class="mb-3 row justify-content-center">
                <label for="inputPassword" class="col-sm-1 col-form-label">Пароль</label>
                <div class="col-sm-5">
                  <input type="password" class="form-control form-control text-bg" id="inputPassword" placeholder="Пароль" name="password" required>
                </div>
            </div>

            <div class="mb-3 row justify-content-center">
                <label for="input_repeat_password" class="col-sm-1 col-form-label">Повторите пароль</label>
                <div class="col-sm-5">
                  <input type="password" class="form-control form-control text-bg" id="input_repeat_password" placeholder="Повторите пароль" name="repeat_password" required>
                </div>
            </div>

            <input class="btn btn-primary" type="submit" value="Зарегистрироваться"></p>

        </form>
    </div>

{% endblock %}
