{% extends 'kinokino/base.html' %}
{% load static %}

{% block content %}
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <ol>
        {% for film in search_result %}
            <div class="row mt-4">
                <li>
                    <div class="row">
                        <div class="col-2">
                            <div class="row">
                                <img style="width: 150px; height: 225px" src="{{ film.poster.previewUrl }}">
                            </div>
                            <div class="row">
                                {{ film.name }}
                                {% if film.releaseYears %}
                                    {% for years in film.releaseYears %}
                                        ({{ years.start }} - {{ years.end }})
                                    {% endfor %}
                                {% else %}
                                    ({{ film.year }})
                                {% endif %}
                            </div>
                        </div>
                        {% if film.id not in movie_data %}
                            <div class="col">
                                <form action="{% url 'kinokino:add_movie' %}" method="post">
                                    {% csrf_token %}
                                    <input name="search_text" value="{{ name }}" hidden>
                                    <input name="movie_name" value="{{ film.name }}" hidden>
                                    <input name="movie_id" value="{{ film.id }}" hidden>
                                    <input name="movie_year" value="{{ film.year }}" hidden>
                                    <input name="movie_type" value="{{ film.type }}" hidden>
                                    <input name="preview_url" value="{{ film.poster.previewUrl }}" hidden>
                                    <input name="release_years" value="{{ film.releaseYears }}" hidden>
                                    <button type="submit">like this</button>
                                </form>
                            </div>
                        {% endif %}
                    </div>
                </li>
            </div>
        {% endfor %}
    </ol>
{% endblock %}
