{% extends 'kinokino/base.html' %}

{% block content %}

    <div class="col">
        <div class="row">
            <h1>Поиск по названию</h1>
            <form action="{% url 'kinokino:searching' %}" class="d-flex" role="search" method="post">
                {% csrf_token %}
                <label for id="Search">Название</label>
                <input id="Search" class="form-control form-control text-bg me-2" type="search" placeholder="Название" aria-label="Search" value="{{ search }}" name="search_text" required>
                <button class="btn btn-primary" type="submit">Поиск</button>
            </form>
        </div>

        <div class="row mx-2">
            {% block searching %}

            {% endblock %}
        </div>

    </div>


{% endblock %}
